@import url('../..//utilities.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
  --primary-600 : #0284c7;
  --primary-900 : #0c4a6e;
  --primary-200 : #bae6fd;
  --danger-200 : #fecaca;
  --danger-600 : #dc2626;
  --danger-900: #7f1d1d;
  --success-200 : #bbf7d0;
  --success-600 : #16a34a;
  --success-900: #14532d;
  --warning-200 : #fef08a;
  --warning-600 : #ca8a04;
  --warning-900: #713f12;
  --simple-200 : #a5f3fc;
  --simple-600 : #0891b2;
  --simple-900: #164e63;

}

/* Common styling for alert */
.alert{
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem;
  border-radius: 0.3rem;
}

.alert-message{
  font-size: 1.1rem;
  margin-right: 1rem;
}

.alert-close{
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
  margin-right: 0.5rem;
}
/* Common styling for alert */

/* Styling for alert in mobile devices */

@media screen and (max-width:768px) {
  .alert{
    padding: 0.4rem 0.2rem;
    border-radius: 0.1rem;
  }

  .alert-message{
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  .alert-close{
    height: 0.9rem;
    width: 0.9rem;
  }
  
}

/* Styling for alert in mobile devices */


/* primary alert styles */
.alert-primary{
  border: 1px solid var(--primary-600);
  color: var(--primary-900);
  background-color: var(--primary-200);
}
/* primary alert styles */

/* success alert styles */

.alert-success{
  border :1px solid var(--success-600);
  color: var(--success-900);
  background-color: var(--success-200);
}


/* success alert styles */


/* danger alert styles */

.alert-danger{
  border :1px solid var(--danger-600);
  color: var(--danger-900);
  background-color: var(--danger-200);
}


/* danger alert styles */

/* warning alert styles */

.alert-warning{
  border :1px solid var(--warning-600);
  color: var(--warning-900);
  background-color: var(--warning-200);
}

/* warning alert styles */


/* simple alert styles */

.alert-simple{
  border :1px solid var(--simple-600);
  color: var(--simple-900);
  background-color: var(--simple-200);
}

/* simple alert styles */