@import url('../..//utilities.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
  --primary-600 : #0284c7;
  --primary-900 : #0c4a6e;
  --primary-200 : #bae6fd;
  --danger-200 : #fecaca;
  --danger-600 : #dc2626;
  --danger-900: #7f1d1d;
  --success-200 : #bbf7d0;
  --success-600 : #16a34a;
  --success-900: #14532d;
  --warning-200 : #fef08a;
  --warning-600 : #ca8a04;
  --warning-900: #713f12;
  --simple-200 : #a5f3fc;
  --simple-600 : #0891b2;
  --simple-900: #164e63;

}

/* Common styling for alert */
.alert{
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0.5rem;
  border-radius: 0.3rem;
}

.alert-message{
  font-size: 1.1rem;
  margin-right: 1rem;
}

.alert-close{
  cursor: pointer;
  height: 1.3rem;
  width: 1.3rem;
}
/* Common styling for alert */

/* Styling for alert in mobile devices */

@media screen and (max-width:768px) {
  .alert{
    padding: 0.4rem 0.2rem;
    border-radius: 0.1rem;
  }

  .alert-message{
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }

  .alert-close{
    height: 0.9rem;
    width: 0.9rem;
  }
  
}

/* Styling for alert in mobile devices */


/* primary alert styles */
.alert-primary{
  border: 1px solid var(--primary-600);
  color: var(--primary-900);
  background-color: var(--primary-200);
}
/* 
.alert-primary .alert-close{
  filter: invert(35%) sepia(27%) saturate(4472%) hue-rotate(177deg) brightness(96%) contrast(98%);
} */
/* primary alert styles */

/* success alert styles */

.alert-success{
  border :1px solid var(--success-600);
  color: var(--success-900);
  background-color: var(--success-200);
}

/* 
.alert-success .alert-close{
  filter: invert(46%) sepia(61%) saturate(619%) hue-rotate(90deg) brightness(95%) contrast(89%);

} */

/* success alert styles */


/* danger alert styles */

.alert-danger{
  border :1px solid var(--danger-600);
  color: var(--danger-900);
  background-color: var(--danger-200);
}

/* 
.alert-danger .alert-close{
  filter: invert(19%) sepia(92%) saturate(4752%) hue-rotate(355deg) brightness(95%) contrast(80%);
} */

/* danger alert styles */

/* warning alert styles */

.alert-warning{
  border :1px solid var(--warning-600);
  color: var(--warning-900);
  background-color: var(--warning-200);
}

/* 
.alert-warning .alert-close{
  filter: invert(58%) sepia(22%) saturate(5990%) hue-rotate(14deg) brightness(95%) contrast(97%);
} */

/* warning alert styles */



/* simple alert styles */

.alert-simple{
  border :1px solid var(--simple-600);
  color: var(--simple-900);
  background-color: var(--simple-200);
}

/* 
.alert-simple .alert-close{
  filter: invert(36%) sepia(96%) saturate(1115%) hue-rotate(161deg) brightness(92%) contrast(94%);
} */

/* simple alert styles */