.text-align-container, .text-utils-container{
  padding: var(--sp-xsm);
}

.text-align-container p:nth-child(2){
  border-top: 1px solid var(--light-300);
  border-bottom: 1px solid var(--light-300);
  padding: 1rem 0;
}

.text-align-container p{
  padding: 1rem 0;
}


.font-xsm {
  font-size: 0.6rem;
  line-height: 0.6rem;
}
.font-sm-1 {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.font-sm-2 {
  font-size: 1rem;
  line-height: 1rem;
}
.font-md-1 {
  font-size: 1.2em;
  line-height: 1.2rem;
}
.font-md-2 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.font-lg {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.font-xl {
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.font-2xl {
  font-size: 2rem;
  line-height: 2rem;
}
.font-3xl {
  font-size: 2rem;
  line-height: 2rem;
}

.h-1 {
  margin: 1.5rem 0;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.h-2 {
  margin: 1.5rem 0;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 2.2rem;
}
.h-3 {
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
}
.h-4 {
  margin: 1.5rem 0;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.6rem;
}
.h-5 {
  font-size: 1.4rem;
  margin: 1.5rem 0;
  font-weight: 700;
  line-height: 1rem;
}
.h-6 {
  font-size: 1.1rem;
  margin: 1.5rem 0;
  font-weight: 700;
  line-height: 0.8rem;
}

.text-utils-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.text-underline{
  text-decoration: underline;
}

.font-bold-1{
  font-weight: 100;
}
.font-bold-4{
  font-weight: 400;
}
.font-bold-5{
  font-weight: 600;
}
.font-bold-6{
  font-weight: 700;
}
.font-bold-7{
  font-weight: 900;
}

.text-green{
  color: var(--success-600);
}
.text-red{
  color: var(--danger-600);
}
.text-yellow{
  color: var(--warning-600);
}
.text-primary{
  color: var(--primary-600);
}