@import url('../..//utilities.css');

.btn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem 1rem;
  border: none;
  box-shadow: 1px 2px 2px 2px var(--box-shadow-color);
  transition: all 0.3 ease;
  border-radius: 0.2rem;
}

@media screen and (max-width:768px) {
  .btn{
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    margin: 0.3rem 0.6rem;
  }
  
}

.rounded-sm{
  border-radius: 0.4rem;
}

.rounded-lg{
  border-radius: 0.8rem;
}

.rounded-xl{
  border-radius: 1.2rem;
}

.rounded-2xl{
  border-radius: 1.6rem;
}


.btn-primary{
  background-color: var(--primary-600);
  color: var(--primary-50);
}

.btn-primary:hover{
  background-color: var(--primary-500);
}

.btn-success{
  background-color: var(--success-600);
  color: var(--success-50);
}

.btn-success:hover{
  background-color: var(--success-800);
}

.btn-warning{
  background-color: var(--warning-500);
  color: var(--dark-900);
}

.btn-warning:hover{
  background-color: var(--warning-600);
}
.btn-danger{
  background-color: var(--danger-600);
  color: var(--danger-50);
}

.btn-danger:hover{
  background-color: var(--danger-800);
}
.btn-dark{
  background-color: var(--dark-700);
  color: var(--dark-50);
}

.btn-dark:hover{
  background-color: var(--dark-900);
}
.btn-light{
  background-color: var(--light-100);
  color: var(--dark-900);
}

.btn-light:hover{
  background-color: var(--light-300);
}

.btn-outline-primary{
  background-color: var(--light-50);
  color: var(--primary-600);
  border: 1px solid var(--primary-600);
}

.btn-secondary{
  background-color: var(--secondary-100);
  color: var(--primary-600);
}

.btn-secondary:hover{
  background-color: var(--secondary-200);
}


.btn-outline-primary:hover{
  background-color: var(--primary-500);
  color: var(--light-50);
}
.btn-outline-success{
  background-color: var(--light-50);
  color: var(--success-800);
  border: 1px solid var(--success-800);
}

.btn-outline-success:hover{
  background-color: var(--success-600);
  color: var(--light-50);
}
.btn-outline-warning{
  background-color: var(--light-50);
  color: var(--warning-500);
  border: 1px solid var(--warning-500);
}

.btn-outline-warning:hover{
  background-color: var(--warning-500);
  color: var(--light-50);
}
.btn-outline-danger{
  background-color: var(--danger-50);
  color: var(--danger-600);
  border: 1px solid var(--danger-600);
}

.btn-outline-danger:hover{
  background-color: var(--danger-800);
  color: var(--danger-50);
}
.btn-outline-light{
  background-color: var(--light-100);
  color: var(--dark-500);
  border: 1px solid var(--dark-500);
}

.btn-outline-light:hover{
  background-color: var(--light-300);
  color: var(--dark-700);
}
.btn-outline-dark{
  background-color: var(--dark-50);
  color: var(--dark-900);
  border: 1px solid var(--dark-900);
}

.btn-outline-dark:hover{
  background-color: var(--dark-900);
  color: var(--dark-50);
}

.link{
  padding: 0.5rem 1rem;
}
.link:hover{
  text-decoration: underline;
}

.link-primary{
  background-color: var(--primary-600);
  color: var(--primary-50);
}

.link-primary:hover{
  background-color: var(--primary-800);
}

.link-secondary{
  background-color: var(--dark-500);
  color: var(--dark-50);
}

.link-secondary:hover{
  background-color: var(--dark-700);
}


.floating-btn{
  border-radius: 50%;
  background-color: var(--primary-600);
  color: var(--light-50);
  border: 2px solid var(--dark-700);
  transition: all 0.3s ease;
}

.floating-btn:hover{
  background-color: var(--primary-500);
  transform: translateY(-10%);
}

.icon-primary-btn{
  background-color: var(--primary-600);
  color: var(--light-50);
}

.icon-primary-btn:hover{
  background-color: var(--primary-800);
}

.icon-danger-btn{
  background-color: var(--danger-600);
  color: var(--light-50);
}

.icon-danger-btn:hover{
  background-color: var(--danger-800);
}