/* Body of getting started page */

.page-container {
  margin-top: 5rem;
  display: flex;
  height: 90vh;
  position: fixed;
  width: 100vw;
}

/* Body of getting started page */

/* side nav bar on desktop */
.nav-list {
  width: 22vw;
  background-color: white;
  box-shadow: 2px 1px 2px 1px var(--box-shadow-color);
  transform: translateX(0%);
  padding: 2rem;
  z-index: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .hamburger {
  display: none;
}

.close{
  display: none;
}

/* right side main content */
.main-section {
  overflow-y: auto;
  padding: 2rem;
  flex: 1 1;
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  left: 0;
  right: 0;
}

@media screen and (max-width:1030px) {
  .nav-list{
    width: 30vw;
  }

}

@media screen and (max-width: 768px) {
  aside{
    font-size: 85%;
  }
  header .hamburger {
    display: inline-block;
    margin-right: 1rem;
    margin-right: auto;
    position: fixed;
    left: 2rem;
  }
  .close{
    display: block;
    margin-right: auto;
    padding: 2.5rem 0rem 0rem 1.5rem;

  }
  .main-logo {
    position: fixed;
    right: 2rem;
  }
  .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 55vw;
    transform: translateX(-100%);
    transition: transform 300ms;
    overflow-y: auto;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-open {
    transform: translateX(0);
  }
}

.main-link{
  margin: 1rem 0.5rem ;
}

.nav-links{
  margin: 0.2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}
.nav-links:hover{
  background-color: var(--bg-primary-hover);
  color: var(--bg-secondary-hover);

}

.nav-link-active{
  background-color: var(--bg-primary);
  color: var(--bg-secondary);
}

.active-section {
  background-color: var(--nav-section-header);
  color: var(--all-white);
  transition: background-color 0.3s ease;
}


main h2{
  text-align: center;
  font-size: 2rem;
}

main h3{
  margin-bottom: 0.3rem;
  box-shadow: 0 4px 6px -6px #222;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
}

main .section-text{
  margin: 1rem 0;
}


.code-container{
  max-width: 80vw;
}

.section-text a:hover{
  text-decoration: underline;
  background-color: var(--box-shadow-color);
}

.main-section-hr{
  display: block;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 1rem 0;
}
