.mx-auto {
  margin: 0 auto;
}

.my-auto{
  margin: auto 0;
}


.mx-1 {
  margin: 0 1rem;
}
.mx-2 {
  margin: 0 2rem;
}


.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}

.my-10 {
  margin: 10rem 0;
}

.mt-auto{
  margin-top: auto;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}

.mr-auto {
  margin-right: auto;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-10 {
  margin-right: 10rem;
}
.mb-auto{
  margin-bottom: auto;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.ml-auto {
  margin-left: auto;
}
.ml-1{
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-8 {
  margin-left: 8rem;
}
.ml-10 {
  margin-left: 10rem;
}



.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  flex-direction: column;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.relvative{
  position: relative;
}

.absolute{
  position: absolute;
}

.button {
  padding: 0.8rem 1.2rem;
  margin: 2rem;
  background: none;
  border-radius: 0.5rem;
  font-weight:500;
  font-size: 1.1rem;
}

button:hover, .link:hover{
  cursor: pointer;
}

code{
  font-size: 1rem;
  background-color: #e2e8f0;
  border-radius: 2px;
  /* padding: 2px; */
}

@keyframes fadeIn {
  from{
  opacity: 0;
  }
  to{
    opacity: 1;
  }
}